<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>last page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Hasil Data Pembelian</div>
        <hr>
        <table border="1">
            <th>Nama Barang</th>
            <th>Jumlah Barang</th>
            <th>Harga Barang (Rp) </th>
            <th>Diskon (%)</th>
            <th>Total Harga (Rp)</th>
            
            <tr>
            <td th:text="${namabarang}"></td>
            <td th:text="${jumlahbarang}"></td>
            <td th:text="${hargabarang}"></td>
            <td th:text="${diskon}"></td>
            <td th:text="${totalbayar}"></td>
            </tr>
        </table>
    </body>
</html>
